.simple-slider .swiper-slide {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next,
.simple-slider .swiper-button-prev {
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #f6f6f6;
  font-size: 10px !important;
}

@media (max-width:767px) {

  .simple-slider .swiper-button-next,
  .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}


@media (min-width: 768px) {
  .simple-slider .swiper-slide {
    height: 700px !important;
  }
}